---
import template from "../../public/example-template.json";

export interface IInfo {
  photo: string;
  name: string;
  address: string;
  phone: string;
  email: string;
  personalUrl: string;
  birthDate: string;
  summary: string;
}

const info: IInfo = template.personalInfo;
const hrefMail = `mailto:${info.email}`;
---

<section class="container mx-auto p-6 rounded-md">
  <div id="info" class="flex justify-around">
    <ul class="inline-grid grid-cols-1 gap-1">
      <li>❔ {info.name}</li>
      <li>📨 <a href={hrefMail}>{info.email}</a> &rarr;</li>
      <li>🔗 <a href={info.personalUrl}>Linkedin &rarr;</a></li>
      <li>🏠 {info.address}</li>
      <li>☎️ {info.phone}</li>
      <li>
        🗓️ {
          new Date(info.birthDate)
            .toLocaleDateString("ja-JP", {
              year: "numeric",
              month: "2-digit",
              day: "2-digit",
            })
            .replace(/\//gi, "-")
        }
      </li>
    </ul>

    <img
      class="object-contain h-96 w-96 overflow-hidden rounded-full p-6"
      src={info.photo}
      alt="Profile photo"
    />
  </div>
  <hr />
  <div id="summary">
    <p>
      {info.summary}
    </p>
  </div>
  <hr />
</section>

<style>
  :root {
	--white: hsl(0, 0%, 17.5%);
    --black: hsl(0, 0%, 100%);
    --black-025: hsl(0, 0%, 22.5%);
    --black-050: hsl(0, 0%, 24%);
    --black-075: hsl(210, 4%, 26%);
    --black-100: hsl(210, 4.5%, 30.5%);
    --black-150: hsl(210, 5%, 35%);
    --black-200: hsl(210, 5.5%, 43.5%);
    --black-300: hsl(210, 6.5%, 52%);
    --black-350: hsl(210, 7%, 61%);
    --black-400: hsl(210, 8%, 65%);
    --black-500: hsl(210, 8%, 70%);
    --black-600: hsl(210, 7%, 78.5%);

    --orange-050: hsl(27, 16.5%, 23.9%);
    --orange-100: hsl(27, 30%, 28.4%);
    --orange-200: hsl(27, 50%, 36.9%);
    --orange-300: hsl(27, 70%, 47.3%);
    --orange-400: hsl(27, 90.5%, 54.9%);
    --orange-500: hsl(27, 100%, 59%);
    --orange-600: hsl(27, 100%, 68.4%);

    --blue-050: hsl(206, 40%, 23%);
    --blue-100: hsl(206, 44%, 26%);
    --blue-200: hsl(206, 46%, 30%);
    --blue-300: hsl(206, 53%, 35%);
    --blue-400: hsl(209, 56%, 43%);
    --blue-500: hsl(206, 64%, 51%);
    --blue-600: hsl(206, 100%, 60%);

    --powder-050: hsl(205, 5%, 27%);
    --powder-100: hsl(205, 14%, 28%);
    --powder-200: hsl(205, 17.5%, 32%);
    --powder-300: hsl(205, 19.5%, 37%);
    --powder-400: hsl(205, 22.5%, 44%);
    --powder-500: hsl(205, 29%, 54%);
    --powder-600: hsl(205, 50%, 65.5%);

    --green-025: hsl(140, 18%, 22%);
    --green-050: hsl(140, 18%, 25%);
    --green-100: hsl(140, 22.5%, 31%);
    --green-200: hsl(140, 23.5%, 37%);
    --green-300: hsl(140, 25%, 40.5%);
    --green-400: hsl(140, 27.5%, 48.5%);
    --green-500: hsl(140, 35%, 54.5%);
    --green-600: hsl(140, 40%, 61.5%);

    --yellow-050: hsl(47, 13%, 24.5%);
    --yellow-100: hsl(47, 19%, 27%);
    --yellow-200: hsl(47, 30.5%, 31%);
    --yellow-300: hsl(47, 37%, 36%);
    --yellow-400: hsl(47, 45.5%, 42.5%);
    --yellow-500: hsl(47, 55.5%, 48%);
    --yellow-600: hsl(47, 67.5%, 55.5%);

    --red-025: hsl(1, 10%, 24%);
    --red-050: hsl(1, 30%, 26.5%);
    --red-100: hsl(1, 35%, 33%);
    --red-200: hsl(1, 37%, 38.5%);
    --red-300: hsl(1, 39%, 43.5%);
    --red-400: hsl(1, 42%, 49%);
    --red-500: hsl(1, 50%, 54%);
    --red-600: hsl(1, 56.5%, 59.5%);

    --gold: hsl(48, 100%, 50%);
    --gold-lighter: hsl(48, 22%, 30%);
    --gold-darker: hsl(45, 100%, 47%);
    --silver: hsl(210, 6%, 72%);
    --silver-lighter: hsl(0, 0%, 26%);
    --silver-darker: hsl(210, 3%, 61%);
    --bronze: hsl(28, 38%, 67%);
    --bronze-lighter: hsl(28, 13%, 27%);
    --bronze-darker: hsl(28, 31%, 52%);

	--color-primary: var(--black-800);
	--color-secondary: var(--gold);
	--color-bg-primary: var(--black-100);
	--color-bg-secondary: var(--black-400);
  }

  section {
	background-color: var(--color-bg-primary);
    border: solid;
    border-color: var(--gold);
  }

  #info {
  }

  a {
    cursor: pointer;
    color: var(--blue-600);
  }

  #summary {
  }
</style>
