---
import template from "../../public/example-template.json";

export interface IInfo {
  photo: string;
  logoPerson: string;
  name: string;
  logoJob: string;
  jobTitle: string;
  logoGit: string;
  urlGit: string;
  logoLkd: string;
  urlLkd: string;
  logoEmail: string;
  email: string;
  logoAddress: string;
  address: string;
  logoPhone: string;
  phone: string;
  birthDate: string;
  summary: string;
}

const info: IInfo = template.personalInfo;
const hrefMail = `mailto:${info.email}`;
---

<section class="container mx-auto p-6 rounded-md">
  <h1>INFORMAZIONI PERSONALI</h1>
  <div class="flex items-center justify-around">
    <img
      class="object-contain h-64 w-64 overflow-hidden rounded-full p-6"
      src={info.photo}
      alt="Profile photo"
    />

    <ul class="inline-grid grid-cols-1 gap-1">
      <li class="flex items-center flex-row">
        <img
          class="object-scale-down h-10 w-10 rounded"
          src={info.logoPerson}
          alt="logo"
        />
        <h2>{info.name}</h2>
      </li>

      <li class="flex items-center flex-row">
        <img
          class="object-scale-down h-10 w-10 rounded"
          src={info.logoJob}
          alt="logo"
        />
        <h2>{info.jobTitle}</h2>
      </li>

      <li class="flex items-center flex-row">
        <img
          class="object-scale-down h-10 w-10 rounded"
          src={info.logoEmail}
          alt="logo"
        />
        <h2><a href={hrefMail}>{info.email}</a>&rarr;</h2>
      </li>

      <li class="flex items-center flex-row">
        <img
          class="object-scale-down h-10 w-10 rounded"
          src={info.logoLkd}
          alt="logo"
        />
        <h2><a href={info.urlLkd}>Linkedin</a>&rarr;</h2>
      </li>

      <li class="flex items-center flex-row">
        <img
          class="object-scale-down h-10 w-10 rounded"
          src={info.logoGit}
          alt="logo"
        />
        <h2><a href={info.urlGit}>GitHub</a>&rarr;</h2>
      </li>

      <li class="flex items-center flex-row">
        <img
          class="object-scale-down h-10 w-10 rounded"
          src={info.logoPhone}
          alt="logo"
        />
        <h2>{info.phone}</h2>
      </li>

      <li class="flex items-center flex-row">
        <img
          class="object-scale-down h-10 w-10 rounded"
          src={info.logoAddress}
          alt="logo"
        />
        <h2>{info.address}</h2>
      </li>

      <!-- <li>
        🗓️ {new Date(info.birthDate)
            .toLocaleDateString("ja-JP", {
              year: "numeric",
              month: "2-digit",
              day: "2-digit",
            })
            .replace(/\//gi, "-")
        }
      </li> -->
    </ul>
  </div>
  <hr />
  <div>
    <p>
      {info.summary}
    </p>
  </div>
  <hr />
</section>

<style>
  section {
    /* background-color: var(--color-bg-primary); */
    border: solid;
    border-color: lightgrey;
	box-shadow: 2px 6px 4px lightgray;
  }

  h1 {
    font-size: x-large;
    padding-bottom: 1.75rem;
  }

  h2 {
    padding-left: 1rem;
    font-size: 1.25rem;
  }

  ul {
    padding-bottom: 1rem;
  }

  a {
    cursor: pointer;
    color: var(--blue-600);
  }

  p {
	padding: 1rem 1.5rem;
  }
</style>
