---
import { log } from "astro/dist/core/logger/core";
import template from "../../public/example-template.json";

export interface ISchool {
  logo: string;
  schoolInstitute: string;
  description: string;
  startDate: string;
  endDate: string;
  notes: string;
}

const school: ISchool[] = template.education;
---

<section class="container mx-auto rounded-md">
  <h1>ISTRUZIONE</h1>
  <ul>
    {
      school.map((school) => (
        <li class="rounded-md p-2">
          <div id="school" class="flex items-center flex-row">
            <img
              class="object-scale-down h-8 w-8 rounded"
              src={school.logo}
              alt="School logo"
            />
            <h2>{school.schoolInstitute}</h2>
          </div>
          <div id="details">
            <h3>👨‍🎓 {school.description}</h3>
            <p>
              🗓️ {school.startDate} / {school.endDate}, {school.notes}
            </p>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<style>
  h1 {
    font-size: x-large;
    padding-bottom: 0.25rem;
    /* padding-top: 1rem; */
    padding-left: 1rem;
  }

  li {
    border: solid;
    border-color: lightgrey;
    margin: 0.75rem 0;
  }

  h2 {
    padding-left: 0.75rem;
    font-size: larger;
    font-weight: bold;
  }

  h3 {
    font-size: large;
    /* padding-bottom: 0.5rem; */
  }

  #details {
    padding-left: 0.25rem;
    padding-bottom: 0.25rem;
  }
</style>
