---
import template from "../../public/example-template.json";

export interface IWork {
  logo: string;
  company: string;
  role: string;
  startDate: string;
  endDate: string;
  tasks: string[];
}

const works: IWork[] = template.workExp;
---

<section class="container mx-auto rounded-md">
  <h1>ESPERIENZE LAVORATIVE</h1>
  <ul>
    {
      works.map((work) => (
        <li id="company" class="rounded-md p-2">
          <div id="details" class="flex items-center flex-row">
            <img
              class="object-scale-down h-8 w-8 rounded"
              src={work.logo}
              alt="Company logo"
            />
            <h2>{work.company}</h2>
          </div>
          <h3>
            🗓️ {work.startDate} / {work.endDate}, 🧑‍💻 {work.role}
          </h3>
          <ul id="tasks">
            {work.tasks.map((task) => (
              <li>{task}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</section>

<style>
  h1 {
    font-size: x-large;
    padding-bottom: 0.25rem;
    padding-top: 2rem;
    padding-left: 1rem;
  }

  img {
    border: solid;
    border-color: lightgrey;
    border-width: 1px;
  }

  h2 {
    padding-left: 0.75rem;
    font-size: larger;
    font-weight: bold;
  }

  h3 {
    font-size: large;
    padding-bottom: 0.5rem;
  }

  #company {
    border: solid;
    box-shadow: 2px 4px 4px lightgray;
    border-color: lightgrey;
    margin: 0.75rem 0;
  }

  #tasks {
    padding-left: 1.5rem;
    list-style: disc;
  }
</style>
