---
import template from "../../public/example-template.json";

export interface IWork {
  logo: string;
  company: string;
  role: string;
  startDate: string;
  endDate: string;
  tasks: string[];
}

const works: IWork[] = template.workExp;
---

<section class="container mx-auto rounded-md">
  <h1>ESPERIENZA LAVORATIVA</h1>
  <ul>
    {
      works.map((work) => (
        <li>
          <div id="company" class="flex flex-row">
            <img
              class="object-scale-down h-8 w-8 rounded"
              src={work.logo}
              alt="Company logo"
            />
            <h2>{work.company}</h2>
          </div>
          <h3>
            🗓️ {work.startDate} / {work.endDate}, 🧑‍💻 {work.role}
          </h3>
          <ul id="tasks">
            {work.tasks.map((task) => (
              <li>{task}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    background-color: var(--color-bg-primary);
    padding: 2rem;
    /* TODO remove */
    border: solid;
    border-color: var(--gold);
  }

  h1 {
    font-size: x-large;
    padding-bottom: 1.75rem;
  }

  h2 {
    padding-left: 0.75rem;
    font-size: larger;
    font-weight: bold;
  }

  h3 {
    font-size: large;
    padding-bottom: 0.5rem;
  }

  #company {
    padding-bottom: 0.5rem;
  }

  #tasks {
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    list-style: disc;
  }
</style>
